{% extends "layout.html" %}

{% block title %}Comment{% endblock %}

{% block content %}

<body>
  <h1>{{ task.task }}</h1>
  <h3>Taskin kuvaus: </h3>
  <p> {{ task.body | show_lines }} </p>
  <br />
  <form action="/comment/{{ task.id }}" method="post">
    <p>
      Kommentti:<br />
      <textarea name="comment" rows="5" cols="40" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Kommentoi" />
  </form>
</body>
{% endblock %}