{% extends "layout.html" %}

{% block title %}New task{% endblock %}

{% block content %}
<h1>Luo uusi taski todo-listalle</h1>
<form action="/createcategory" method="post">
  <p>Uusi luokittelu:
    <input type="text" name="category_new" maxlength="40" required>
    <input type="submit" value="Lisää">
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="next_page" value="{{ request.path }}">
</form>
<form action="/addnewtask" method="post">
  {% if categories %}
  <p>Luokittelut:<br />
    {% for category in categories %}
    <label>
      <input type="checkbox" name="category_select" value="{{ category }}">
      {{ category|capitalize }}
    </label><br>
    {% endfor %}
    {% else %}
  <p>Käyttäjällesi ei ole vielä lisätty luokitteluja <br />
    {% endif %}
  </p>
  <p>
    Taskin otsikko: <br />
    <input type="text" name="task" maxlength="40" required />
  </p>
  <p>
    Taskin sisältö: <br />
    <textarea name="body" rows="5" cols="40" required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää tehtävälistalle" />
</form>
{% endblock %}