{% extends "layout.html" %}

{% block title %}Edit task{% endblock %}

{% block content %}
<form action="/edit/{{ task.id }}" method="post">
  <p>
    Taskin otsikko: <br />
    <input type="text" name="task" value="{{ task.task }}" maxlength="100" required />
  </p>
  <p>
    Taskin sisältö:<br />
    <textarea name="body" rows="5" cols="40" required>{{ task.body }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>
{% endblock %}