<!DOCTYPE html>
<html>

<head>
  <title>Etusivu</title>
</head>

<body>
  <h1>todoapp</h1>
  {% if session.username %}
  <a href="/createtask">Luo uusi taski</a>
  <br/>
  <a href="/todolist">Oma todo-lista</a>
   <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
  <p>Olet kirjautunut sisään käyttäjällä {{session.username}}  </p>
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  <a href="/loginform"> Kirjaudu sisään</a>
  <br/>
  <a href="/register">Luo tunnus</a>  
  {% endif %}
</body>

</html>