{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="100" required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" maxlength="100" required />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" maxlength="100" required />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

{% endblock %}