{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h2>Taskien haku</h2>
<form action="/search" method="get">
  <p>
    Hakusana:
    {% if query %}
    <input type="text" name="query" value="{{ query }}" />
    {% else %}
    <input type="text" name="query" />
    {% endif %}
  </p>
  <input type="submit" value="Hae" />
</form>
{% if query %}
<hr />
<div class="todolist">
<h2>Tulokset</h2>
<ul>
  {% for result in results %}
  <li>
    <a href="/task/{{ result.id }}">
      {{ result.task }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
<p>
  {% if page > 1 %}
    <a href="/search/{{ page - 1 }}?query={{ query }}">&lt;&lt;</a>
  {% endif %}
    Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %}
    <a href="/search/{{ page + 1 }}?query={{ query }}">&gt;&gt;</a>
  {% endif %}
</p>
</div>
{% endblock %}