  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>
{% if query %}
  <hr />
  <h2>Tulokset</h2>  
  <ul>
  {% for result in results %}
    <li>
      <a href="/task/{{ result.id }}">
        {{ result.task }}
      </a>
    </li>  
  {% endfor %}
  </ul>
{% endif %}
<a href="/">Takaisin etusivulle</a>