{% extends "layout.html" %}

{% block title %}Task{% endblock %}

{% block content %}
<div class="todolist" style="margin-bottom: 0">
  <h1>{{ task.task }}</h1>
  <h4>Kategoriat:
    {{ categories | join(', ') | default('-', true) }}
  </h4>
  <h3 style="color:black">Taskin kuvaus: </h3>
  <p> {{ task.body | show_lines }} </p>
  <hr>
  {% if task.task_status == 1 %}
  <p>Taski suoritettu</p>
  {% endif %}
  {% if session.user_id != task.user_id %}
  <p>Taskin on luonut käyttäjä <a href="/userpage/{{ task.user_id }}">{{task.username}}</a></p>
  {% endif %}
</div>
<nav class="nav" style="background-color:honeydew; margin-top: 0; text-align: left">
  <ul>
    {% if session.user_id == task.user_id %}
    {% if task.task_status == 0 %}
    <li style="border-right: none">
      <form action="/markdone/{{ task.id }}" method="post">
        <input type="submit" value="Merkitse tehdyksi">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
    </li>
    {% endif %}
    <li style="border-right: none">
      <form action="/edit/{{ task.id }}" method="get">
        <input type="submit" value="Muokkaa">
      </form>
    <li style="border-right: none">
      <form action="/remove/{{ task.id }}" method="post">
        <input type="submit" value="Poista">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
    </li>
    {% endif %}
    {% if session.username %}
    <li>
      <form action="/comment/{{ task.id }}" method="get">
        <input type="submit" value="Kommentoi">
      </form>
    </li>
    {% endif %}
  </ul>
</nav>

{% if comments %}
<div class="comments">
  <h3>Kommentit:</h3>
  <ul>
    {% for comment in comments %}
    <li>
      <p style="font-size:small">
        Kommentoija: <a href="/userpage/{{ comment.id }}">{{ comment.username }}</a>
      </p>
      <p>
        {{ comment.body | show_lines}}
      </p>
    </li>
    {% endfor %}
  </ul>
  {% if page > 1 %}
  <a href="/task/{{ task.id }}/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %} <a href="/task/{{ task.id }}/{{ page + 1 }}">&gt;&gt;</a>
    {% endif %}
</div>
{% else %}
<p>Tällä taskilla ei ole vielä kommentteja</p>
{% endif %}
</body>

{% endblock %}