{% extends "layout.html" %}

{% block title %}Todolist{% endblock %}

{% block content %}
<div class="todolist">
  <form action="/todolist" method="get">
    <p>
      <input type="radio" name="status" value="0" {% if status==0 %}checked{% endif %} />Keskeneräiset
      <input type="radio" name="status" value="1" {% if status==1 %}checked{% endif %} />Tehdyt
      <input type="radio" name="status" value="2" {% if status==2 %}checked{% endif %} />Kaikki
      <input type="submit" value="Suodata" />
    </p>
  </form>
  <h2>todo-list</h2>
  {% if tasks %}
  <ul>
    {% for task in tasks %}
    <li>
      <a href="/task/{{ task.id }}">{{ task.task }}</a>
    </li>
    {% endfor %}
  </ul>
  {% if page > 1 %}
  <a href="/todolist/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  {% if task_count != 0 %}
  Sivu {{ page }}/{{ page_count }}
  {% else %}
  <p>Et ole vielä luonut yhtään taskia. Aloita luomalla taski</p>
  {% endif %}
  {% if page < page_count %} <a href="/todolist/{{ page + 1 }}">&gt;&gt;</a>
    {% endif %}
    {% endif %}
</div>

{% endblock %}