{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="todolist">
  <h2>todo-list</h2>
  {% if tasks %}
  <ul>
  {% for task in tasks %}
  <li>
    <a href="/task/{{ task.id }}">{{ task.task }}</a>
  </li>
  {% endfor %}
  </ul>
  {% if page > 1 %}
    <a href="/todolist/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  {% if task_count != 0 %}
    Sivu {{ page }}/{{ page_count }}
  {% else %}
  <p>Et ole vielä luonut yhtään taskia. Aloita luomalla taski</p>
  {% endif %}
  {% if page < page_count %}
    <a href="/todolist/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
  {% endif %}
</div>

{% endblock %}