{% extends "layout.html" %}

{% block title %}Käyttäjäsivut{% endblock %}

{% block content %}
<h2>Käyttäjän {{ username }} sivu</h2>

<body>
    {% if task_count != 0 %}
    <p>
        Käyttäjä {{ username }} on luonut {{ task_count }} taskia, joista on merkitty suoritetuksi {{
        task_completed_count }} kappaletta.
    </p>
    <p>
        Suoritettujen taskien prosentuaalinen osuus kaikista luoduista taskeista on {{
        task_completed_count/task_count*100 }} %
    </p>
    <p>
        Käyttäjän {{ username }} luomia taskeja on kommentoitu {{ comment_sum }} kertaa, eniten kommentteja on saanut
        taski: {{ most_commented_task }}, jota on kommentoitu {{ popular_task_com_sum }} kertaa
    </p>
    {% else %}
    <p>
        Käyttäjä {{ username }} ei ole vielä luonut yhtään taskia.
    </p>
    {% endif %}
    <p>
        Käyttäjä {{ username }} on kommentoinut yhteensä {{ comment_count }} kertaa. Käyttäjä on kommentoinut {{
        comment_distinct_user_count }} eri käyttäjän taskeja, yhteensä {{ comment_distinct_task_count }} eri taskia
    </p>
    {% if task_count != 0 %}
    <h3>Käyttäjän {{ username }} todolist</h3>
    {% for task in tasks %}
    <p>
        <a href="/task/{{ task.id }}">{{ task.task }}</a>
    </p>
    {% endfor %}
    {% if task_page > 1 %}
    <a href="/userpage/{{ user_id }}/{{ task_page - 1 }}/{{ comment_page }}">&lt;&lt;</a>
    {% endif %}
    Sivu {{ task_page }}/{{ task_page_count }}
    {% if task_page < task_page_count %} 
    <a href="/userpage/{{ user_id }}/{{ task_page + 1 }}/{{ comment_page }}"">&gt;&gt;</a>
    {% endif %}
    {% endif %}

    {% if comment_count != 0 %}
    <h3>Käyttäjän {{ username }} kommentit</h3>
    <div class="comments">
        <ul>
    {% for comment in comments %}
    <li>
        <p>Kommentoitu taski: <a href="/task/{{ comment.task_id }}">{{ comment.task }}</a></p>
        <p>Kommentti: {{ comment.body }}</p>
    </li>
    {% endfor %}
    </ul>
    </div>
    {% if comment_page > 1 %}
    <a href="/userpage/{{ user_id }}/{{ task_page}}/{{ comment_page - 1}}">&lt;&lt;</a>
    {% endif %}
    Sivu {{ comment_page }}/{{ comment_page_count }}
    {% if comment_page < comment_page_count %} 
    <a href="/userpage/{{ user_id }}/{{ task_page }}/{{ comment_page + 1}}"">&gt;&gt;</a>
    {% endif %}
    
    {% endif %}
</body>
{% endblock %}